*{
    text-align: center;
}

.heading{
    color: hsl(0, 0%, 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: 50px;
    text-decoration: underline;
    background-color: hsl(208, 100%, 97%, 15%);
    padding: 25px;
}

button{
    display: inline-block;
    padding: 10px;
    margin: 25px;
    font-size: 38px;
    background-color: hsl(0, 0%, 96%, 15%);
    color: aliceblue;
}

body{
    background-image:url(wood.jpg);
}

a{
    color: aliceblue;
}

h2{
    color: aliceblue;
}